.app-dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.app-left-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #000000;
  color: #ffffff;
  margin: 20px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 87.77px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-route-items {
  display: flex;
  flex-direction: column;
}

.app-route-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.app-route-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.app-route-text {
  font-size: 1rem;
}
@media (max-width: 800px) {
  .app-route-text {
    display: none;
  }
}

@media (max-width: 480px) {
  
}
.app-bottom-options {
  margin-top: auto;
}

.app-bottom-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.app-bottom-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.app-bottom-text {
  font-size: 0.8rem;
  
}

.app-active {
  font-weight: bold;
}
 /* RIGHT CONTAINER */
.app-right-container {
  width: 80%;
  background-color: #f5f5f5;
  margin: 0px 45px;
  display: flex;
  flex-direction: column;
}


  
  .nav {
   
    
    background-color: transparent;
    height: 30px;
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
  }
  

 
  .nav h2 {
    color: black;
    font-size: 18px;
    text-align: left;
    height: 30px;
  }
  
  .right-elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .search-bar input{
    border:  0px solid #ccc;
    height: 30px;
    border-radius: 10px;
  }
  .search-bar, .profile-picture {
    float: right;
    margin-right: 10px;
  }
  
  .profile-picture {
    margin-right: 10px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    text-align: right;
  }
                               /* TOP CARDS */
  .top-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
  } 
  .top-card {
    display: flex;
    align-items: flex-end;
    background-color: #DDEFE0;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .top-card-left {
    width: 80%;
  }
  
  .top-card-right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .top-card-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    font-size: 1.7rem;
    padding: 10px;
  }
  
  .top-card-top-left {
    display: flex;
    align-items: flex-start;
  }
  
  .top-card-text {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .top-card-value {
    font-weight: bold;
    margin: 0;
  }
  @media (max-width: 840px) {
    .top-card-bottom-left  {
      font-size: 1rem;
    }
  }
  .top-card-icon {
    width: 20px;
    height: 20px;
    padding-bottom: 69px;
  }
                                /* BOTTOM CARDS */
  .bottom-cards {
    display: flex;
   
   
    justify-content: space-between;
    width: 100%;
    
    height: 25%;
  }
  
  .top-card{
    width: 20%;
    
    background-color: #f0f0f0;
    border-radius: 20px;
  }
  .bottom-card {
    width: 40%;
    margin: 10px 0px;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .card h3 {
    text-align: center;
  }
  
  .card p {
    text-align: center;
    font-size: 16px;
  }
  
  .chart {
    width: 100%;
    height: 40%;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 5px 0px;
  }
  .chart {
    width: 100%;
    max-height: calc(100% - 40px); 
    background-color: #ffffff;
    position: relative;
  }
  
  .chart-container {
    width: 100%;
    height: 100%;
  }


                /* Bottom Cards */
                /* Card1 */
  .bottom-card {
  width: 380px;
  height: 156px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bottom-card-top h3 {
  font-size: 18px;
  margin: 0;
}

.bottom-card-top select {
  font-size: 0.7rem;
 
}
.bottom-card-content{
    display: flex;
}
.pie-chart {
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

.color-description {
  display: flex;
  flex-direction: column;
}

.color-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border-radius: 50%;
}

.green {
  background-color: #98D89E;
}

.yellow {
  background-color: #EE8484;
}

.pink {
  background-color: #F6DC7D;
}

.description {
  font-size: 12px;
  margin-right: 10px;
}

.percent {
  font-size: 12px;
  font-weight: bold;
}
                /* CARD2 */
.cd2-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-more-button {
  background-color: transparent;
  border: none;
  color: #888;
  font-weight: bold;
  cursor: pointer;
}

.small-cards {
  margin-top: 16px;
}

.small-card {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.small-cards-container {
    max-height: 80%;
    overflow-y: auto;
  }
.colored-line {
    width: 4px;
    height: 100%;
    background-color: red;
    
    margin-right: 12px;
}

.card-details {
  flex: 1;
}

.card-details p {
  margin: 0;
  font-size: 14px;
}