.lmain-container{
    display: flex;
  
    height: 100vh;
}
.lleft-container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.lright-container{
    background-color: #f5f5f5;
    color: black;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
    
}
  
.board {
    font-size: 72px;
    font-weight: 700;
    line-height: 87.77px;
    color: #ffffff;
  
}

@media (max-width: 768px) {
    .board {
      font-size: 48px;
      line-height: 58.51px;
    }
  }
  
  @media (max-width: 480px) {
    .board {
      font-size: 36px;
      line-height: 43.88px;
    }
  }
  
  
  .signin {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-align: left;
  }
  .signinTitle{
    margin-left: -25%;
    text-align: left;
  }
  .subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 5px; /* Adjust the top margin as desired */
    text-align: left;
  }
  @media (max-width: 480px) {
    .signinTitle {
      margin-left: 0; /* Reset the margin for smaller screens */
      text-align: center; /* Center the text for smaller screens */
    }
  
    .subtitle {
      text-align: center; /* Center the text for smaller screens */
    }
  }
 
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 50%;
  }
  
  .google-btn,
  .apple-btn {
    padding: 5px 4px;
    margin: 0 5px;
    font-size: 0.8rem; /* Relative font size using em */
    border: none;
    background-color: #ffffff;
    color: #858585;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 0;
    width: 45%;
    border: 0px solid ;
  }
  .google-btn{
    border:none
  }
  .innerGoogle{
    width: 100%;
    max-width: 100%; 
    height: auto;
  }
  @media (max-width: 600px) {
    .signinTitle{
        align-items: center;
     
       }
    
    .apple-btn .text {
      display: none;
      font-size: 0.9em; 
    }
  }
  
  @media (max-width: 320px) {
    .signinTitle{
        margin-left: 0px;
     
       }
    .google-btn,
    .apple-btn {
      
      font-size: 0.8em; 
    }
  }
  .icons{
    margin-right: 10px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0 auto;
    width: 43.5%;
    background-color: #ffffff;
    border-radius: 20px;
    
  }

  .login-form input {
    padding: 20px;
    margin-bottom: 10px;
    border: 0px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: black;
  }
  
  .forgot-password {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .signin-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: Black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  label{
    font-size: 0.9rem;
  }
  .register {
    font-size: 14px;
  }